div{
	width: 150px;
	height: 150px;
}

#div1{
	float: right;
}

#bb1{
	background-image: url(../img/bb1.jpg);
	background-size: 100%;/*la imagen se ajusta al div*/
}

#bb2{
	background-image: url(../img/bb2.jpg);
	background-size: 100%;/*la imagen se ajusta al div*/
}

#bb3{
	background-image: url(../img/bb3.jpg);
	background-size: 100%;/*la imagen se ajusta al div*/
}

#bb4{
	background-image: url(../img/bb4.jpeg);
	background-size: 100%;/*la imagen se ajusta al div*/
}

#bb5{
	background-image: url(../img/bb5.jpg);
	background-size: 100%;/*la imagen se ajusta al div*/
}
